:root {
    --light-gray: #faf2e6;
    --dark-gray: #6c7273;
    --orange: #d9bb91;
}

html, body {
    height: 100%;
}

body {
    font-family: 'SFPro', sans-serif;
    color: var(--light-gray);
}

input {
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

h1  {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

@media (min-width: 359px) {
    h1 {
        font-size: 36px;
    }
}

h2  {
    font-size: 22px;
    font-weight: 900;
}

@media (min-width: 359px) {
    h2 {
        font-size: 24px;
    }
}

h3  {
    font-size: 18px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

.p-medium {
    font-size: 18px;
}

.p-small {
    font-size: 14px;
}

h1, h2, h3, p, .p-medium, .p-small {
    margin-bottom: 10px;
}

.text-orange {
    color: var(--orange);
}

.text-light-gray {
    color: var(--light-gray);
}

.text-dark-gray {
    color: var(--dark-gray);
}

.text-normal-case {
    text-transform: none;
}

.container {
    max-width: 480px;
    min-width: 300px;
    padding: 0 15px;
    margin: 0 auto;
}


/* main-content */
.main-content, .video-block {
    background-color: #2d393a;
}

.main-content__inner {
    padding-top: 48px;
    padding-bottom: 48px;
    height: inherit;
    background: url('../images/main-bg.png') center top no-repeat;
    background-size: contain;
    position: relative;
}

.main-content__text-block:not(:last-of-type) {
    margin-bottom: 66px;
}


/* header */
.header {
    background-color: #2d393a;
    padding: 8px 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__date {
    max-width: 90px;
    margin-top: 20px;
}

/* messenger-block */
.messenger-block {
    padding: 24px 16px 32px;
    border-radius: 12px;
    background-image: linear-gradient(12deg, #c3a882 0%, #f1e7ca 100%)
}

.messenger-block__text {
    font-weight: 900;
    width: calc(100% - 104px);
}

.messenger-block__header {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.messenger-block__header img {
    position: absolute;
    top: -65px;
    right: -2px;
}

.messenger-block-list {
    width: 100%;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
}

.messenger-block-list__item {
    flex: 1 0 0;
    cursor: pointer;
}

.messenger-block-list__item a {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 14px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--dark-gray);
}

.messenger-block-list__item img {
    width: 34px;
}

/* advice-block */
.advice-block, .speaker-block, .info-block,
.master-class
{
    padding-top: 80px;
    padding-bottom: 80px;
}

.advice-block__title {
    margin-bottom: 60px;
}

.advice-block-list {
    display: flex;
    flex-direction: column;
}

.advice-block-list__item--right {
    align-self: flex-end;
}

.advice-block-list__item:not(:last-of-type) {
    margin-bottom: 60px;
}

.advice-block-list h2, .advice-block-list p {
    color: var(--dark-gray);
}

.advice-block-item {
    max-width: 240px;
}

.advice-block-list h2 {
    margin-bottom: 17px;
}

.advice-block-item img {
    margin-bottom: 14px;
}

/* speaker-block */
.speaker-block {
    background-color: #f2f3f3;
}

.speaker-block img {
    margin: 0 auto 24px;
}

.speaker-block-list {
    margin-top: 24px;
}

.speaker-block-list__item {
    padding-top: 32px;
    padding-bottom: 16px;
    color: var(--dark-gray);
    border-bottom: 1px solid #f2d1a2;
}

.speaker-block-list__item:first-child {
    border-top: 1px solid #f2d1a2;
}

.speaker-block-list__content {
    margin-top: 16px;
}

/* video-block */
.video-block {
}

.video-block__inner {
    background: url('../images/main-bg2.png') center top no-repeat;
    background-size: cover;
    padding-top: 139px;
    padding-bottom: 15px;
}

.video-block__btn {
    display: inline-block;
    margin-bottom: 16px;
    cursor: pointer;
}

/* info-block */
.info-block__title {
    margin-bottom: 56px;
}

.info-block-list {

}

.info-block-list__item:not(:last-of-type) {
    margin-bottom: 51px;
}

.info-block-item__number, .info-block-item__text {
    margin-bottom: 0;
}

.info-block-item__number {
    font-size: 72px;
    line-height: 0.7;
    font-weight: 100;
    color: var(--orange);
}

.info-block-item__text {
    color: var(--dark-gray);
    max-width: 240px;
    margin-left: 88px;
}

/* online show block */
.online-show-block {
    padding: 115px 68px 83px 80px;
    min-height: 20px;
    position: relative;
    background: rgba(242, 209, 162, .15) url("../images/record-overlay.png") center 24px no-repeat;
    background-size: 280px;
}

@media (min-width: 359px) {
    .online-show-block {
        background-size: unset;
    }
}

.online-show-block__inner {
    max-width: 220px;
    margin: 0 auto;
}

.online-show-block h3 {
    line-height: 22px;
}

.online-show-block p {
    line-height: 24px;
}

/* master class */
.master-class {

}

.master-class img {
    margin: 19px auto;
}

.master-class__btn {
    max-width: 480px;
    width: 100%;
    display: inline-block;
    border-radius: 8px;
    background-color: #d9bb91;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

/* registration block */
.registration-block {
    background-color: var(--dark-gray);
    padding: 64px 0;
}

.registration-block h2 {
    text-transform: uppercase;
    color: #fff;
}

.registration-block-form {
    margin-top: 24px;
}

.registration-block-form input {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--orange);
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    color: #fff;
}

.registration-block-form input::placeholder {
    color: rgba(217, 187, 145, .5);
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    opacity: .5;
}

.registration-block-form input:-ms-input-placeholder {
    color: rgba(217, 187, 145, .5);
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    opacity: .5;
}

.registration-block-form input::-ms-input-placeholder {
    color: rgba(217, 187, 145, .5);
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    opacity: .8;
}

.registration-block-form input:not(:last-of-type) {
    margin-bottom: 8px;
}

.registration-block-form__button {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 16px;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: var(--orange);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-size: 14px;
}

.registration-block-form__button:active {
    opacity: .7;
}