:root {
    --light-gray: #faf2e6;
    --dark-gray: #6c7273;
    --orange: #d9bb91;
}

html, body {
    height: 100%;
}

body {
    font-family: 'SFPro', sans-serif;
    color: var(--light-gray);
}

input {
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

h1  {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}

h2  {
    font-size: 24px;
    font-weight: 900;
}

h3  {
    font-size: 18px;
    font-weight: 900;
}

p {
    font-size: 16px;
}

.p-medium {
    font-size: 18px;
}

.p-small {
    font-size: 14px;
}

h1, h2, p, .p-medium, .p-small {
    margin-bottom: 10px;
}

.text-orange {
    color: var(--orange);
}

.text-light-gray {
    color: var(--light-gray);
}

.text-dark-gray {
    color: var(--dark-gray);
}

.text-normal-case {
    text-transform: none;
}

.container {
    max-width: 480px;
    min-width: 300px;
    padding: 0 15px;
    margin: 0 auto;
}


/* main-content */
.main-content {
    background-color: #2d393a;
}

.main-content__inner {
    padding-top: 48px;
    padding-bottom: 48px;
    height: inherit;
    background: url('../images/main-bg.png') center top no-repeat;
    background-size: contain;
    position: relative;
}

.main-content__text-block:not(:last-of-type) {
    margin-bottom: 66px;
}


/* header */
.header {
    background-color: #2d393a;
    padding: 8px 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__date {
    max-width: 90px;
    margin-top: 20px;
}

/* messenger-block */
.messenger-block {
    padding: 24px 16px 32px;
    border-radius: 12px;
    background-image: linear-gradient(12deg, #c3a882 0%, #f1e7ca 100%)
}

.messenger-block__text {
    font-weight: 900;
    width: calc(100% - 104px);
}

.messenger-block__header {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.messenger-block__header img {
    position: absolute;
    top: -65px;
    right: -2px;
}

.messenger-block-list {
    width: 100%;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
}

.messenger-block-list__item {
    flex: 1 0 0;
}

.messenger-block-list__item a {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 14px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--dark-gray);
}

/* advice-block */
.advice-block, .speaker-block {
    padding-top: 80px;
    padding-bottom: 80px;
}

.advice-block__title {
    margin-bottom: 60px;
}

.advice-block-list {
    display: flex;
    flex-direction: column;
}

.advice-block-list__item--right {
    align-self: flex-end;
}

.advice-block-list__item:not(:last-of-type) {
    margin-bottom: 60px;
}

.advice-block-list h2, .advice-block-list p {
    color: var(--dark-gray);
}

.advice-block-item {
    max-width: 240px;
}

.advice-block-list h2 {
    margin-bottom: 17px;
}

.advice-block-item img {
    margin-bottom: 14px;
}

/* speaker-block */
.speaker-block {
    background-color: #f2f3f3;
}

.speaker-block img {
    margin: 0 auto 24px;
}

.speaker-block-list {
    margin-top: 24px;
}

.speaker-block-list__item {
    padding-top: 32px;
    padding-bottom: 16px;
    color: var(--dark-gray);
    border-bottom: 1px solid #f2d1a2;
}

.speaker-block-list__item:first-child {
    border-top: 1px solid #f2d1a2;
}

.speaker-block-list__content {
    margin-top: 16px;
}