:root {
    --light-gray: #faf2e6;
    --dark-gray: #6c7273;
    --orange: #d9bb91;
}

html, body {
    height: 100%;
}

body {
    font-family: 'SFPro', sans-serif;
    color: var(--light-gray);
}

input {
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

h1  {
    font-size: 36px;
}

h2  {
    font-size: 24px;
}

h3  {
    font-size: 18px;
}

p {
    font-size: 16px;
}

.p-small {
    font-size: 14px;
}

.container {
    max-width: 414px;
    min-width: 300px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-content {
    background-color: #2d393a;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.header__date {
    max-width: 90px;
    margin-top: 20px;
}